<p-growl [value]="msgs" sticky="sticky"></p-growl>
<p-panel header="Address Details" styleClass="panel-content">
  <form *ngIf="displayForm" [formGroup]="_addressForm" (ngSubmit)="onSubmit(_addressForm.value)">
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>Name:</label>
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText id="Name" formControlName="Name" required>
        </div>
        <div *ngIf="formErrors.Name" class="ui-grid-col-6">
          {{ formErrors.Name }}
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>Street:</label>
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText id="Street" formControlName="Street">
        </div>
        <div *ngIf="formErrors.Street" class="ui-grid-col-6">
          {{ formErrors.Street }}
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>Age:</label>
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText id="Age" formControlName="Age">
        </div>
        <div *ngIf="formErrors.Age" class="ui-grid-col-6">
          {{ formErrors.Age }}
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <label>Email:</label>
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText id="Email" formControlName="Email">
        </div>
        <div *ngIf="formErrors.Email" class="ui-grid-col-6">
          {{ formErrors.Email }}
        </div>
      </div>
    </div>
    
    <div align='right'>
      <button pButton type="submit" id="btnSave" [disabled]="!_addressForm.valid" label="Save" icon="fa-save"></button>
      <button pButton type="button" id="btnCopy"   (click)="copy()"   label="Copy"   icon="fa fa-files-o"></button>
      <button pButton type="button" id="btnDelete" (click)="delete()" label="Delete" icon="fa-trash-o"></button>
    </div>
    </form>
</p-panel>

<h3>Debug</h3>
<ul>
  Name:{{_addressConfirmed.Name}}   Age:{{_addressConfirmed.Age}}   Street:{{_addressConfirmed.Street}}   Email:{{_addressConfirmed.Email}} ...
</ul>

<ul>
  <li *ngFor="let item of adresses">{{event}}</li>
</ul>
