<p-growl [value]="_msgs" [sticky]="_sticky"></p-growl>
<p-panel header="DocumentTypes" styleClass="panel-content">
  <div align='right'>
    <button pButton type="text" id="btnNew" [disabled]="!_addDocumentType" (click)="addElement()" label="New">
    </button>
  </div>
  <p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
    <p-accordionTab *ngFor="let count of _documentTypeDummyList;let i=index;" [selected]="_documentTypeList[i].Name == 'Add here.. '">
      <header>
        {{_documentTypeList[i].Name}}
      </header>
      <dev-document-type-form 
        [(documentType)]="_documentTypeList[i]" 
        (elementDeleted)="onElementDeleted(_documentTypeList[i])"
        [displayForm]="true">
      </dev-document-type-form>
    </p-accordionTab>
  </p-accordion>
</p-panel>

<ul>
  <li *ngFor="let documentType of _documentTypes">{{documentType}}</li>
</ul>
